<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cardapiodigital.tecsoluction.com.cardapiodigital">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".servicos.ConsumirJsonCategoriaActivity"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.Material.Light.Dialog.Presentation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardapioDigitalMainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".servicos.ConsumirJsonGarconActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
        <activity
            android:name=".servicos.ConsumirJsonProdutoActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
        <activity
            android:name=".Sushi"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_produtos"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity
            android:name=".servicos.ConsumirJsonMesaActivity"
            android:icon="@mipmap/ic_launcher" />
        <activity
            android:name=".MesasActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_mesas" />
        <activity
            android:name=".PedidoActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_pedido"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".servicos.ConsumirJsonPromocaoActivity"
            android:label="@string/title_activity_promocao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PromocaoActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_promocao"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"></activity>
    </application>

</manifest>